[submodule "Oasis-Engine/thirdpartylibs/spdlog"]
	path = Oasis-Engine/thirdpartylibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Oasis-Engine/thirdpartylibs/glfw"]
	path = Oasis-Engine/thirdpartylibs/glfw
	url = https://github.com/RobotLeopard86/glfw
